.wikipedia-logo, .reload-icon {
  height: 1em;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
}

.suggestion {
  display: block;
  padding: 4px;
  margin: 4px;
  border: 1px solid grey;
}

a {
  text-decoration: none;
}

button {
  color: inherit;
  border: none;
  background: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0px;
}

select {
  border: 1px solid grey;
}

.head-bar div {
  display: inline-block;
}

.github {
  float: right;
  height: 1em;
}

.wrap-black {
  color: white;
  background-color: black;
  width:100%;
  padding: 0.5em;
}

.header-wrap {
  top: 0px;
  margin: 0px auto 0.5em auto;
}

.footer-wrap {
  bottom: 0px;
  margin: 0.5em auto 0px auto;
}

.header, .footer, .main {
  max-width: 1000px;
  margin: 0 auto;
}

.wrap-black a {
  color: orange;
}

.reference {
  display: none;
}
